{#
 * Template file to show the HTML markup for the transcrpt lines
 #}

<div class="transcript">
	<div class="video-iframe">
	<iframe id="transcript-youtube-video" type="text/html" src="https://www.youtube.com/embed/{{ var.video_id }}?enablejsapi=1&controls=1&modestbranding=1&showinfo=0&wmode=transparent&autoplay={{ var.auto_play }}&rel=0" frameborder="0" height="{{ var.height }}" width="{{ var.width }}" alt="" title=""></iframe>
	</div>

    <div>{% trans %}View Transcript{% endtrans %}</div>
	<div class="video-transcript">	
	
    {% for line in var.transcript %}
	<p id="{{ line.id }}" class="transcript-tracks"><span>{{ line.minute }}:{{ line.seconds }} </span> {{ line.txt }}</p>
	{% endfor %}
	</div>
</div>